/*	****************************************
	Base
	**************************************** */
body {
	color:white;
}

/*	****************************************
	Layout
	**************************************** */
#firstImage {
	/*background: linear-gradient(rgba(23, 22, 23, 0.3), rgba(23, 22, 23, 0.3)), url(../img/bg.jpg) no-repeat top center fixed;*/
	max-height: 80%;
}

#introContent {
	display: inline-block;
	padding: 40px;
	text-align: center;
	margin-top: 25%;
	background: rgba(0, 0, 0, 0.5);

}

#cta {

}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
}