/*	****************************************
	Base
	**************************************** */
html {
	-webkit-font-smoothing: antialiased;
}

article, aside {
	display: table-cell;
	padding-top: 0px;
	vertical-align: top;
}

article {
	width: 90%;
}

aside {
	width: 10%;
}
/*	****************************************
	Layout
	**************************************** */
#name-logo {
	display:flex; 
	float: left;
}

#first {
	background: linear-gradient(rgba(23, 22, 23, 0.3), rgba(23, 22, 23, 0.3)), url(../img/bg.jpg) no-repeat top center fixed;
	color:white;
	min-height: 60%;
	padding-bottom: 0;
}

#introContent {
	display: inline-block;
	padding: 40px;
	text-align: center;
	margin-top: 10%;
	background: rgba(0, 0, 0, 0.2);
	width: 40%;
}

#headerInBetween {
	min-height:40%;
	text-align: left;
	padding-top: 20px;
}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
}

.img-responsive {
	max-width: 100%;
}

.column1, .column2, .column3 {
	display: table-cell;
	width: 30%;
	padding-right: 40px;
	padding-top: 0px;
	text-align: center;
}

.column1 p, .column2 p, .column3 p {
	text-align: left;
}

.first-icon {
	height: 115px;
	width: auto;
}

.section2-column1, .section2-column2 {
	display: table-cell;
	padding-right: 40px;
	padding-top: 0px;
}

.section2-column1 {
	width: 40%;
	text-align: center;
}

.section2-column2 {
	width: 60%;
	vertical-align: top;
}

.accomplishment-wrapper {
	padding-bottom: 30px;
}



